
data/fplreview.csv
data/skymodel_output.csv
data/md_map.csv
*.txt
notebooks/skyoutput.mps
data/past_model_outputs/review_xmins_fplgw21.csv
data/past_model_outputs/skymodel_output_fplgw21.csv
data/past_model_outputs/md_map_fplgw21.csv
data/past_model_outputs/md_map_fplgw22.csv
data/past_model_outputs/md_map_fplgw23.csv
data/past_model_outputs/md_map_fplgw24.csv
data/past_model_outputs/review_xmins_fplgw22.csv
data/past_model_outputs/review_xmins_fplgw23.csv
data/past_model_outputs/review_xmins_fplgw24.csv
data/past_model_outputs/skymodel_output_fplgw22.csv
data/past_model_outputs/skymodel_output_fplgw23.csv
data/past_model_outputs/skymodel_output_fplgw24.csv
